<ion-view view-title="Available Course" cache-view=false>
  <ion-content overflow-scroll="false">
    <div class="imageTitle">
      <img src="./img/education.jpg"/>
    </div>
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="query" placeholder="Search">
        </label>
      </div>
      <ion-list>
        <ion-item ng-repeat="item in items | filter: query"
          href="#/app/module/{{ item.id }}/{{ item.name }}">
          {{ item.name }}
          <span class="badge" ng-class="{'badge-balanced': item.CountM != 0, 'badge-assertive': item.CountM == 0}" >{{ item.CountM }}</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>