<ion-header-bar align-title="center" class="bar-positive">
    <div class="button button-icon button-clear ion-chevron-left" ng-click="login()">
        Back
    </div>
    <h1 class="title">New Account</h1>
</ion-header-bar>
<ion-content overflow-scroll="false">
	<section class="content-header">
	</section>
	<section class="content-container">
		<img class="content-icon" src="./img/compose.png"/>
		<div class = "login-title header text-center">
			<p>Enter your username and registered email address for verification.</p>
		</div>
		<form ng-submit="doRegister()">
			<div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-person-add placeholder-icon"></i>
					<input type="text" placeholder="Username" ng-model="regData.username">
				</label>
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" placeholder="Fullname" ng-model="regData.fullname">
				</label>
				<label class="item item-input">
					<i class="icon ion-email placeholder-icon"></i>
					<input type="text" placeholder="Email" ng-model="regData.email">
				</label>
				<label class="item item-input">
					<i class="icon ion-unlocked placeholder-icon"></i>
					<input type="password" placeholder="Password" ng-model="regData.password">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="password" placeholder="Confirm Password" ng-model="regData.confirm">
				</label>
				<button class="button button-block button-energized" type="submit">Sign up</button>
			</div>
		</form>
	</section>
</ion-content>