<ion-view view-title="{{ editPass.username }}" cache-view=false>
	<ion-nav-bar class="bar-positive">
		<!-- The left navigation button -->
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
	  
		<!-- The right navigation button -->
		<ion-nav-buttons side="right">
			<a class="button button-icon button-clear ion-android-close" ng-click="quit()">
			</a>
		</ion-nav-buttons>
    </ion-nav-bar>
	<ion-content overflow-scroll="false">
		<div class="imageTitle">
			<img src="./img/education.jpg"/>
		</div>
		<div>
			<form ng-submit="resetPassword()">
				<div class="list">
					<label class="item item-input">
						<i class="icon ion-unlocked placeholder-icon"></i>
						<input type="password" ng-model="resetPass.new" placeholder="New Password">
					</label>
					<label class="item item-input">
						<i class="icon ion-locked placeholder-icon"></i>
						<input type="password" ng-model="resetPass.repeat" placeholder="Repeat Password">
					</label>
					<div class="padding">
						<button class="button button-block button-balanced" type="submit">
							Save
						</button>
					</div>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>