<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.eclass894446" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>eClass</name>
    <description>
        Electronic Class Room.
    </description>
    <author email="ashahir@1govuc.gov.my" href="http://www.ilpkl.gov.my/">
      Ahmad Shahir Husin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <engine name="android" spec="^6.2.3" />
</widget>
